extends layout

block optionsDrawer
  section#optionsDrawer.optionsDrawer
    form#optionsDrawerWrap.optionsDrawerWrap
      div.row-fluid
        div.span3
          label(for='lessVersion') LESS Version
          select#lessVersion.lessVersion(name='lessVersion')
            for version in lessVersions
              if version.type === 'current'
                option(
                  selected='selected'
                  value='#{version.number}') #{version.number} (current)

              else if version.type === 'pre'
                option(
                  data-prerelease="true"
                  value='#{version.number}') #{version.number} (pre-release)

              else
                option(value='#{version.number}') #{version.number}

        div.span3
          code dumpLineNumbers
          //- i.icon-info-sign
          button.btn.toggleBtn(
            ng-class="{'btn-primary': toggleLineNumbers == true}"
            ng-click="toggleLineNumbers = !toggleLineNumbers"
            ng-bind="toggleTxt('toggleLineNumbers')"
          ) Disabled

          select.ng-cloak(
            ng-show="toggleLineNumbers == true"
            ng-disabled="toggleLineNumbers == false"
            ng-model="dumpLineNumbers"
            ng-options="key as value for (key , value) in lineNumberOpts"
          )

        div.span3
          code relativeUrls
          //- i.icon-info-sign
          button.btn.toggleBtn(
            ng-class="{'btn-primary': relativeUrls == true}"
            ng-click="relativeUrls = !relativeUrls"
            ng-bind="toggleTxt('relativeUrls')"
          ) Disabled

        div.span3
          code rootpath
          //- i.icon-info-sign
          button.btn.toggleBtn(
            ng-class="{'btn-primary': toggleRootpath == true}"
            ng-click="toggleRootpath = !toggleRootpath"
            ng-bind="toggleTxt('toggleRootpath')"
          ) Disabled

          input.ng-cloak(
            ng-show='toggleRootpath == true'
            ng-disabled='toggleRootpath == false'
            ng-model='rootpath'
            placeholder='Enter rootpath'
            type='text'
          )

block header
  li.brand: a(href='/') LESS2CSS
  li.divider-vertical
  li#lessOptions.lessOptions
    a#optionsLink(href="#") Options
    div#optionsButton.optionsButton

  li.divider-vertical
  li: img#loadingGif.loadingGif(src='/images/loading.gif', alt='Loading...')

block content
  div.row-fluid
    div.span6
      h2 LESS Input
      div.codeWrap
        textarea#lessInput.lessInput(placeholder="Input your LESS here.", less-editor, ng-model="lessInput").
          .transition(@transition) {
            -webkit-transition: @transition;
               -moz-transition: @transition;
                 -o-transition: @transition;
                    transition: @transition;
          }
          .opacity(@opacity) {
            opacity: @opacity / 100;
            filter: ~"alpha(opacity=@{opacity})";
          }

          a {
            .transition(all 0.4s);
            &:hover {
              .opacity(70);
            }
          }

          // Selector interpolation only works in 1.3.1+. Try it!
          @theGoodThings: ~".food, .beer, .sleep, .javascript";

          @{theGoodThings} {
            font-weight: bold;
          }
    div.span6
      h2 CSS Output
      article
        pre.preWrap
          code#cssOutput.cssOutput.css