extends layout

block optionsDrawer
  div(ng-controller='OptionsCtrl')
    drawer(offset="'40px'", position="'top'", open="drawerOpen", opts="opts")
      div.row-fluid.options-row.first-row
        div.span3.option-column
          label(for='less-version') LESS Version
          select#less-version.less-version(
            ng-model='opts.selectedVersion'
            ng-options='version.number as version.label for version in opts.versions'
            ng-change='updateOptions()'
          )

        div.span3.option-column
          code dumpLineNumbers
          //- i.icon-info-sign
          button.btn.toggle-btn(
            ng-class="{'btn-primary': lineNumbersEnabled}"
            ng-click="toggleModel('lineNumbersEnabled')"
            ng-bind="toggleTxt('lineNumbersEnabled')"
          ) Disabled

          select(
            ng-show="lineNumbersEnabled"
            ng-disabled="!lineNumbersEnabled"
            ng-model="dumpLineNumbers"
            ng-options="opt.value as opt.label for opt in lineNumberOptions"
            ng-change='updateOptions()'
          )

        div.span3.option-column
          code relativeUrls
          //- i.icon-info-sign
          button.btn.toggle-btn(
            ng-class="{'btn-primary': relativeUrls }"
            ng-click="toggleModel('relativeUrls')"
            ng-bind="toggleTxt('relativeUrls')"
          ) Disabled

        div.span3.option-column
          code rootpath
          //- i.icon-info-sign
          button.btn.toggle-btn(
            ng-class="{'btn-primary': rootPathEnabled }"
            ng-click="toggleModel('rootPathEnabled')"
            ng-bind="toggleTxt('rootPathEnabled')"
          ) Disabled

          input.ng-cloak(
            ng-show='rootPathEnabled'
            ng-disabled='!rootPathEnabled'
            ng-change='updateOptions()'
            ng-model='rootpath'
            placeholder='Enter rootpath'
            type='text'
          )

      div.row-fluid.options-row.last-row
        div.span3.option-column(ng-hide='isLegacy()')
          label Strict Math/Units
          //- i.icon-info-sign
          button.btn.toggle-btn(
            ng-class="{'btn-primary': legacyUnits}"
            ng-click="toggleModel('legacyUnits')"
            ng-bind="toggleTxt('legacyUnits')"
            ng-disabled="isLegacy()"
          ) Disabled

block header
  li.brand: a(href='/') LESS2CSS
  li.divider-vertical
  li.less-options(ng-class="{ 'active': drawerOpen }")
    a(href="#", ng-click="toggleDrawer($event)") Options

  li.divider-vertical
  li.option-info(ng-cloak)
    span
      | LESS Version:&nbsp;
      code {{opts.selectedVersion}}
    span
      | Output Line Numbers:&nbsp;
      code {{dumpLineNumbers}}
    span
      | Relative URLs:&nbsp;
      code {{relativeUrls}}
    span(ng-show="rootPathEnabled")
      | Rootpath:&nbsp;
      code {{rootpath}}
    span(ng-hide="isLegacy()")
      | Strict Math/Units:&nbsp;
      code {{legacyUnits}}
  li: img#loading-gif.loading-gif(
    ng-cloak
    fade-show='loading == true'
    src='/images/loading.gif'
    alt='Loading...'
  )

block content
  div.row-fluid(ng-controller='Less2CssCtrl')
    div.span6
      div.code-wrap.left
        h2.code-label LESS
        textarea#less-input.less-input(placeholder="Input your LESS here.", less-editor, opts='lessEditorOptions', ng-model="lessInput").
          .transition(@transition) {
            -webkit-transition: @transition;
               -moz-transition: @transition;
                 -o-transition: @transition;
                    transition: @transition;
          }
          .opacity(@opacity) {
            opacity: @opacity / 100;
            filter: ~"alpha(opacity=@{opacity})";
          }

          a {
            .transition(all 0.4s);
            &:hover {
              .opacity(70);
            }
          }

          // Selector interpolation only works in 1.3.1+. Try it!
          @theGoodThings: ~".food, .beer, .sleep, .javascript";

          @{theGoodThings} {
            font-weight: bold;
          }
    div.span6
      div.code-wrap.right(ng-class="{error: compileError == true}")
        h2.code-label CSS
        textarea.css-output(
          less-editor
          ng-model="cssOutput"
          opts='cssEditorOptions'
        )