extends layout

block optionsDrawer
  section#options-drawer.options-drawer
    form#options-drawer-wrap.options-drawer-wrap(name='opts')
      div.row-fluid.options-row.first-row
        div.span3.option-column
          label(for='less-version') LESS Version
          select#less-version.less-version(
            ng-model='lessOptions.lessVersion'
            ng-options='version.number as version.label for version in lessVersions'
            ng-change='updateOptions()'
          )

        div.span3.option-column
          code dumpLineNumbers
          //- i.icon-info-sign
          button.btn.toggle-btn(
            ng-class="{'btn-primary': lineNumbersEnabled == true}"
            ng-click="toggleModel('lineNumbersEnabled')"
            ng-bind="toggleTxt('lineNumbersEnabled')"
          ) Disabled

          select.ng-cloak(
            ng-show="lineNumbersEnabled == true"
            ng-disabled="lineNumbersEnabled == false"
            ng-model="dumpLineNumbers"
            ng-options="opt.value as opt.label for opt in lineNumberOptions"
            ng-change='updateOptions()'
          )

        div.span3.option-column
          code relativeUrls
          //- i.icon-info-sign
          button.btn.toggle-btn(
            ng-class="{'btn-primary': relativeUrls == true}"
            ng-click="toggleModel('relativeUrls')"
            ng-bind="toggleTxt('relativeUrls')"
          ) Disabled

        div.span3.option-column
          code rootpath
          //- i.icon-info-sign
          button.btn.toggle-btn(
            ng-class="{'btn-primary': rootPathEnabled == true}"
            ng-click="toggleModel('rootPathEnabled')"
            ng-bind="toggleTxt('rootPathEnabled')"
          ) Disabled

          input.ng-cloak(
            ng-show='rootPathEnabled == true'
            ng-disabled='rootPathEnabled == false'
            ng-change='updateOptions()'
            ng-model='rootpath'
            placeholder='Enter rootpath'
            type='text'
          )

      div.row-fluid.options-row.last-row
        div.span3.option-column
          label Legacy Math/Units
          //- i.icon-info-sign
          button.btn.toggle-btn(
            ng-class="{'btn-primary': legacyUnits == true}"
            ng-click="toggleModel('legacyUnits')"
            ng-bind="toggleTxt('legacyUnits')"
            ng-disabled="isLegacy()"
          ) Disabled

block header
  li.brand: a(href='/') LESS2CSS
  li.divider-vertical
  li#less-options.less-options
    a#options-link(href="#") Options
    div#options-button.options-button

  li.divider-vertical
  li: img#loading-gif.loading-gif(
    ng-cloak
    fade-show='loading == true'
    src='/images/loading.gif'
    alt='Loading...'
  )

block content
  div.row-fluid
    div.span6
      h2 LESS Input
      div.code-wrap
        textarea#less-input.less-input(placeholder="Input your LESS here.", less-editor, opts='lessEditorOptions', ng-model="lessInput").
          .transition(@transition) {
            -webkit-transition: @transition;
               -moz-transition: @transition;
                 -o-transition: @transition;
                    transition: @transition;
          }
          .opacity(@opacity) {
            opacity: @opacity / 100;
            filter: ~"alpha(opacity=@{opacity})";
          }

          a {
            .transition(all 0.4s);
            &:hover {
              .opacity(70);
            }
          }

          // Selector interpolation only works in 1.3.1+. Try it!
          @theGoodThings: ~".food, .beer, .sleep, .javascript";

          @{theGoodThings} {
            font-weight: bold;
          }
    div.span6
      h2 CSS Output
      div.code-wrap(ng-class="{error: compileError == true}")
        textarea.css-output(
          less-editor
          ng-model="cssOutput"
          opts='cssEditorOptions'
        )