extends layout

block header
  li.brand: a(href='/') LESS2CSS
  li.divider-vertical
  li: label(for='lessVersion') Choose a LESS version:
  li
    select#lessVersion.lessVersion
      for version in lessVersions
        if version.type === 'current'
          option(
            selected='selected'
            value='#{version.number}') #{version.number} (Current)

        else if version.type === 'pre'
          option(
            data-prerelease="true"
            value='#{version.number}') #{version.number} (Pre-release)

        else
          option(value='#{version.number}') #{version.number}

  li: img#loadingGif.loadingGif(src='/images/loading.gif', alt='Loading...')

block content
  div.row-fluid
    div.span6
      h2 LESS Input
      div.codeWrap
        textarea#lessInput.lessInput(placeholder="Input your LESS here.").
          .transition(@transition) {
            -webkit-transition: @transition;
               -moz-transition: @transition;
                 -o-transition: @transition;
                    transition: @transition;
          }
          .opacity(@opacity) {
            opacity: @opacity / 100;
            filter: ~"alpha(opacity=@{opacity})";
          }

          a {
            .transition(all 0.4s);
            &:hover {
              .opacity(70);
            }
          }

          // Selector interpolation only works in 1.3.1+. Try it!
          @theGoodThings: ~".food, .beer, .sleep, .javascript";

          @{theGoodThings} {
            font-weight: bold;
          }
    div.span6
      h2 CSS Output
      article
        pre.preWrap
          code#cssOutput.cssOutput.css